nav.nav-discover
  background: rgb(212, 230, 241)
  a
    font-family: 'Open Sans Condensed', sans-serif
    font-weight: bold
    letter-spacing: 1px
    text-transform: uppercase
    font-size: 11px
    &:hover
      border: 0

div.cards
  padding-top: 0

/***** GASTRONOMIA IMAGENES *****/
div.portafolio
  background: #fff
  border-top: 4px solid #005073
  padding: 0 20px
  margin-top: 40px
  
  .galeria .contenedor-imagen
    margin-bottom: 1px
    max-height: 180px
    overflow: hidden
    padding-left: 1px
    padding-right: 1px

    img
      max-width: 100%

    h5
      position: absolute
      bottom: 0
      left: 0
      padding: 100% 0px 10px 0px
      margin: -1px
      background-color: rgba(0, 0, 0, 0.7)
      width: 100%
      text-align: left
      letter-spacing: 0
      color: #fe4918
      font-size: 18px
      text-transform: uppercase
      -webkit-transition: all .6s ease-in-out
      -moz-transition: all .6s ease-in-out
      -o-transition: all .6s ease-in-out
      transition: all .6s ease-in-out
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
    &:hover h5
      bottom: -80px
      opacity: 0    