section div.title-contenedor {
    background: rgb(0, 80, 115);
    color: #fff;
    margin: 50px 0;
    padding: 50px 0;
}

div.discover p{
  margin-bottom: 0;
}

div.discover-cards h3 {
  margin-bottom: 0;
  font-size: 16px;
}

div.one-card {
  margin-bottom: 10px;
}

div.one-card button{
  font-family: "Dosis", sans-serif;
  background: rgb(0, 80, 115);
  color: #fff;
}

div.one-card button:hover {
  background: #fff;
  color: rgb(51,51,51);
  border: 1px solid rgb(0, 80, 115);
  border-radius: 4px;
}
