nav.nav-discover
  background: rgb(212, 230, 241)
  a
    font-family: 'Open Sans Condensed', sans-serif
    font-weight: bold
    letter-spacing: 1px
    text-transform: uppercase
    font-size: 11px
    &:hover
      border: 0

div.cards
  padding-top: 0

/***** GASTRONOMIA IMAGENES *****/
div.portafolio
  background: #fff
  border-top: 4px solid #005073
  padding: 0 20px
  margin-top: 40px
  
  .galeria .contenedor-imagen
    margin-bottom: 2px
    max-height: 180px
    overflow: hidden
    padding-left: 1px
    padding-right: 1px

