
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-cloud-sun:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */