#slides {
    position: relative;
  }
  #slides .slides-container {
    display: none;
  }
  
  #slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  #slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
  }

  ul.slides-container li img{
    filter:brightness(0.7);
  }
  
  .slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 46%;
    width: 100%;
  }
  .slides-navigation a {
    position: absolute;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: rgba(189, 195, 199, 0.7);
    line-height: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    
  }
  
  .slides-navigation a:hover{
    color: white;
  }
  
  .slides-navigation a.prev {
    left: 0;
  }
  .slides-navigation a.next {
    right: 0;
  }
  
  .slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .slides-pagination a {
    border: 2px solid #fff;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
  }
  .slides-pagination a.current {
    background: #222;
  }